node_modules/
postUploads/
privateUploads/
log/**

Chatterbox.apk
Admin.db
db.txt

img.js
img.png
tmp.jpg
exp.js

Public/*.html
Public/svgs
Public/uploads/*.jpg
Public/uploads/*.jpeg
Public/uploads/*.png
Public/uploads/cover/*.jpg
Public/uploads/cover/*.jpeg
Public/uploads/cover/*.png
Public/pics/*.mp4
Public/pics/tmp2.jpg
Public/pics/tmp3.jpg
Public/pics/mo.jpg
Public/pics/furina.jpg
Public/pics/ds.jpg
Public/pics/banner.jpg
Public/pics/avatar.png
