.posts{
    width: 70%;
}

.post img, .pfpcontainer{
    width: 55px;
    /*height: 55px;*/
    margin-right: 10px;
}
.pfpcontainer{
    height: 55px;
}
.post span{
    font-size: 28px;
}
.post, .accin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post{
    padding: 5px 10px 0;
    margin: 10px 0;
    transition-duration: 300ms;
    border-radius: 8px;
    flex-direction: column;
    width: 100%;
    background-color: #191919;
    user-select: none;
}
.post > *{
    width: 100%;
}
.post .svg{
    width: 35px;
}
/* change this later */
.post .accin > div, .post .accin > a{
    display: flex;
    align-items: center;
}
.post .accin{
    border-bottom: 1px #333 solid;
    padding: 10px 5px;
}
.posts .post .data{
    padding: 10px;
}
.posts .text .data, .fullpost .text .data{
    font-size: 40px;
    justify-content: flex-start;
    word-break: break-word;
}
.tright{
    text-align: right;
}
.interact .left{
    display: flex;
}
.img .data{
    display: flex;
    font-size: 26px;
    flex-direction: column;
}
.img .data img,.img .data video{
    max-width: 100%;
    max-height: 60%;
    border-radius: 10px;
    margin: 0 auto;
}
.post .interact{
    border-top: 1px solid #333;
    display: flex;
    padding: 7px 10px 7px 0px;
    justify-content: space-between;
}
.interact .svg{
    width: 40px;
    margin: 0;
}
.interact .tool{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    width: 80px;
    margin-left: 0;
}
.interact .right{
    display: flex;
    justify-content: flex-end;
}
.post .input{
    overflow: hidden;
}
.wincon .settings{
    list-style-type: none;
    font-size: 36px;
    background-color: #262626;
    padding: 0px;
    min-width: 200px;
    width: fit-content;
    overflow: hidden;
}
.wincon .settings li{
    border-bottom: #333 solid 2px;
    padding: 10px 20px;
    width: 100%;
}
.wincon .settings li:last-child{
    border: none;
}
.wincon .settings li:hover{
    background-color: #2a2a2a;
}

.wincon .fullpost{
    max-width: 85%;
    height: 90%;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.wincon .fullpost .comments, .fill .comments{
    display: flex;
    flex-direction: column;
    width: 450px;
    min-width: 450px;
    height: 100%;
    border-left: 1px #333 solid;
}
@media screen and (max-width: 1280px) {
    .wincon .fullpost .comments, .fill .comments{
        width: 400px;
        min-width: 400px;
    }
}
.wincon .fullpost .post{
    width: /*65%*/ fit-content;
    min-width: 400px;
    background-color: inherit;
    padding: 0px 15px;
    
    border-radius: 0pt;
    margin: 5px 0px 0px;
    /*height: 99%;*/
}

.fullpost .text .data{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 450px;
}

.fullpost .img .data img, .fullpost .img .data video{
    max-height: 100%;
}
.fullpost .img{
    height: 99%;
}

.coms .pfpcontainer{
    width: 50px;
    height: 50px;
}

.coms{
    height: 92%;
    width: 100%;
    overflow: auto;
    padding-top: 5px;
}
.coms li{
    border-bottom: 2px solid #333;
    padding: 5px 10px;
    margin: 0 5px;
    display: flex;
    align-items: flex-start;
    transition-duration: 200ms;
}
.coms li:hover{
    background-color: #232323;
}
.coms li > span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    background-color: #313131;
    border-radius: 10px;
    padding: 3px 10px 8px;
    min-width: 30%;
    border-top-left-radius: 0;
}

.coms li > span .mid.text a{
    color: rgb(255, 59, 59);
    background-color: rgba(255, 59, 59, 0.2);
    border-radius: 5px;
    padding: 0 2px;
}

.comments form{
    height: 8%;
    width: 100%;
    display: flex;
}
.comments form input:first-child{
    width: 100%;
    font-size: 22px;
}
.comments form input:last-child{
    transition-duration: 200ms;
    font-size: 22px;
}
.comments form input:last-child:hover{
    color: rgb(255, 59, 59);
}
.comments .pfpcontainer{
    margin-right: 0;
}
.hidden{
    display: none;
}
.post pre{
    width: 100%;
    height: fit-content;
    white-space: pre-wrap;
}

.fill{
    height: 91%;
    border-top: 1px #333 solid;
}
.fill > .post{
    width: 65%;
    border-radius: 0;
    background-color: #191919;
    margin: 0;
}
.fill > .comments{
    width: 35%;
    background-color: #191919;
}
.fill .vid .data span{
    order: 2;
}
.coms li:last-child{
    border-bottom: none;
}

.postcon .text .data{
    max-width: 100%;
    font-size: 60px;
}

@media screen and (max-width: 767px) {
    .posts{
        width: 100%;
        padding-bottom: 5px;
    }
    .posts .post{
        border-radius: 0;
        margin: 4px 0;
    }
    .posts .text .data pre, .post.text .data pre{
        font-size: 40px;
        padding: 10px 0;
    }
    .posts .img .data *{
        font-size: 26px;
    }
    .wincon .settings *{
        font-size: 32px;
    }
    .posts .post .accin .pfpcontainer{
        width: 48px;
        height: 48px;
    }
    .postcon .post .accin .pfpcontainer{
        width: 55px;
        height: 55px;
    }
    .postcon .accin{
        padding: 7px 5px;
    }
    .posts .post .accin, .postcon .posts .post .accin{
        padding: 5px;
    }
    .posts .post .accin *, .postcon .post .accin *{
        font-size: 26px;
    }
    .posts .post img.svg{
        width: 40px;
    }
    .posts .post .interact span.val{
        font-size: 26px;
        position: relative;
        top: 2px;
    }
    .posts .post .accin > img{
        margin: 0;
        width: 35px;
    }
    .postcon{
        overflow: auto;
        flex-direction: column;
    }
    .postcon > .post, .postcon > .comments{
        width: 100%;
        border: none;
    }

    .postcon .comments{
        margin-top: 3px;
        height: fit-content;
        max-height: none;
        min-width: 0;
    }
    .comments .coms{
        height: fit-content;
        overflow: visible;
        order: 2;
    }
    .coms .pfpcontainer{
        width: 48px;
        height: 48px;
    }
    .coms span .large{
        font-size: 25px;
        margin-top: 3px;
    }
    .coms span .text{
        font-size: 22px;
    }
    .coms li{
        padding: 7px 5px;
    }
    .comments form{
        height: fit-content;
    }
    .comments form input{
        padding: 13px 10px;
        /*min-height: 130px;*/
    }
    .postcon .post .data .input{
        height: fit-content;
        font-size: 22px;
        padding: 5px 0;
    }
    .postcon .post .data{
        padding-top: 5px;
    }
    .post{
        padding-top: 3px;
    }
    .posts .post .data{
        padding: 7px 3px;
    }
}