p.title You Have 3 Recordings:
div.recs
    audio(controls)
    audio(controls)
    audio(controls)

label Which One Contains Is A Paper Slide? (Start From Left To Right)
input#recap(type="text",placeholder="Enter A Number...")
button#rec Next